<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/ers.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Expenditure Reimbursement System</title>
    </head>
    <body>
        <div id="userbar" class="">
            <button>New Request</button>
            <h1>
                Expense Reimbursement Portal
            </h1>
            <div id="userbar-username">Username</div>
        </div>
    
        <div id='directory' class='view'>
            <h1>Choose an option below</h1>
            <div id="directory-container" >
                <div id="request-history" class="directory-button" onclick="toRequestHistory()">
                    <div class="request-icon">🖹</div>
                    <div class="request-desc">View Request History</div>
                
                </div>
                <div id="create-request" class="directory-button" onclick="toCreateRequest()">
                    <div class="request-icon">✎</div>
                    <div class="request-desc">Create Request</div>
                </div>
                <div id="audit-request" class="directory-button invis hidden">
                    <div class="request-icon">✔</div>
                    <div class="request-desc">Audit Requests</div>
                </div>
                
                <div id="audit-history" class="directory-button invis hidden">
                        <div class="request-icon">📋</div>
                        <div class="request-desc">Audit History</div>
                </div>
                <div id="search-request" class="directory-button invis hidden">
                    <div class="request-icon">&#x1F50D;</div>
                    <div class="request-desc">Search Requests</div>
                </div>
                <div id="user-management" class="directory-button invis hidden">
                    <div class="request-icon">🔑</div>
                    <div class="request-desc">Manager Users</div>
                </div>
            </div>
        </div>
    
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>