<!doctype html>
<html>
    <head>
        <title>Expense Reimbursement System</title>

    </head>
    <body>
        <table class="table" id="reimbursement-table">
            <thead>
                <tr>
                    <td>AMOUNT</td>
                    <td>REQUESTED</td>
                    <td>RESOLVED</td>
                    <td>STATUS</td>
                    <td>DESCRIPTION</td>
                </tr>
            </thead>
            <tr>
                <td class="amount"  >$150.00</td>
                <td class="date">2017-08-28</td>
                <td class="date">--</td>
                <td class="status pending">PENDING</td>
                <td class="description">A generic reimubrsement request</td>
            </tr>
            <tr>
                <td class="amount"  >$150.00</td>
                <td class="date">2017-08-28</td>
                <td class="date">--</td>
                <td class="status pending">PENDING</td>
                <td class="description">A generic reimubrsement request</td>
            </tr>
            <tr>
                <td class="amount"  >$150.00</td>
                <td class="date">2017-08-28</td>
                <td class="date">--</td>
                <td class="status pending">PENDING</td>
                <td class="description">A generic reimubrsement request</td>
            </tr>
            <tr>
                <td class="amount"  >$150.00</td>
                <td class="date">2017-08-28</td>
                <td class="date">--</td>
                <td class="status pending">PENDING</td>
                <td class="description">A generic reimubrsement request</td>
            </tr>
            <tr>
                <td class="amount"  >$150.00</td>
                <td class="date">2017-08-28</td>
                <td class="date">--</td>
                <td class="status pending">PENDING</td>
                <td class="description">A generic reimubrsement request</td>
            </tr>
            <tr>
                <td class="amount"  >$150.00</td>
                <td class="date">2017-08-28</td>
                <td class="date">--</td>
                <td class="status pending">PENDING</td>
                <td class="description">A generic reimubrsement request</td>
            </tr>
            <tr>
                <td class="amount"  >$150.00</td>
                <td class="date">2017-08-28</td>
                <td class="date">--</td>
                <td class="status pending">PENDING</td>
                <td class="description">A generic reimubrsement request</td>
            </tr>
            <tr>
                <td class="amount"  >$150.00</td>
                <td class="date">2017-08-28</td>
                <td class="date">--</td>
                <td class="status pending">PENDING</td>
                <td class="description">A generic reimubrsement request</td>
            </tr>
            <tr>
                <td class="amount"  >$150.00</td>
                <td class="date">2017-08-28</td>
                <td class="date">--</td>
                <td class="status pending">PENDING</td>
                <td class="description">A generic reimubrsement request</td>
            </tr>
        </table>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>