$fonts-sansserif: Helvetica, arial, sans-serif;
$table-offColor: #EEE;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.view {
    transition: opacity 250ms linear, 250ms filter linear;
    -webkit-transition: opacity 250ms linear, 250ms filter linear;
    -moz-transition: opacity 250ms linear, 250ms filter linear;
    -ms-transition: opacity 250ms linear, 250ms filter linear;
    -o-transition: opacity 250ms linear, 250ms filter linear;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}
body {
    font-size: 2vh;
}

#userbar {
    position: relative;
    width: 100%;
    max-height: 10%;
    padding: 10px;
    border-bottom: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    background: #EEE;
    box-shadow: 1px 1px 20px 3px lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    button {
        font-size: 0.75rem;
        flex-grow: 0;
        max-height: 30px;
        vertical-align: middle;
        margin: 0 4%;
    }

    h1 {
        text-align: center;
        flex-grow: 5;
        font-size: 20px;
        vertical-align: middle;
        margin: 0;
        padding: 0;
    }

    #userbar-username {
        flex-grow: 0;
        vertical-align: middle;
        order: 5;
        margin: 0;
        margin: 0 4%;
        font-size: 1rem;
    }
}

#login-container {
    @include center;
    height: 100vh;
}

.hidden { 
    display: none !important;
}

.invis, .view.invis.ers-modal {
    opacity: 0;
}

#ers-loading-modal {
    @include center;
    width: 230px;
    height: 230px;
    border-radius: 5%;
    background: white;
    position: fixed;
    z-index: 1001;
    left: 42.5%;
    top: 35%;
    transition: opacity 150ms linear;
}



.invis:not(.hidden) {
    opacity: 0.1;
}

.view.ers-modal {
    opacity: 0.75;
    filter: blur(2px);
}

#modal-backdrop {
    opacity: 0.5;
    background: #000000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: opacity 150ms linear;
}

#modal-backdrop.invis {
    opacity: 0;
}

#modal-backdrop.hidden {
    display: none;
}

#directory {

    h1 {
        text-align: center;
        margin: 3vh 0 0 0;
    }

    .directory-button {
        margin: 20px 20px;
        height: 30vh;
        width: 30vh;
        border-radius: 2vh;
        font-size: 16vh;
        box-shadow: 3px 3px 5px 3px lightgrey;
        text-align: center;
        cursor: pointer;
        transition: all 100ms linear;


        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }

    .directory-button:hover {
        background: #FBFBFF;
       // box-shadow: 0px 0px 5px 3px #CCCCFF;
    }

    .directory-button:active {
        background: #F0F0FF;
        box-shadow: 1px 1px 2px 1px lightgrey;
    }

    #directory-container {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;

        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;
        width: 65%;
        margin: 4vh auto;
    }

    .request-desc {
        font-size: 0.85rem;
        
    }
    
}


#login {
    padding: 10px;
    position: relative;
    @include center;
    
    #wrapper {
        max-width: 50%;
        max-height: 50%;
        
        h1 {
            font-family: 'helvetica', 'arial', sans-serif;
            width: 100%;
            text-align: center;
        }
    }
    
    form {
        text-align: center;    
        
        input {
            margin: 10px;
        }
    }
}

#reimbursement-table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    min-height: 0%;
    border-collapse: collapse;
    border:1px solid #DDD;
    tr {
        border-top: 1px solid #DDD;
    }
    td:not(:last-of-type) {
        border-right: 1px solid #DDD;
    }
    * {
        padding: 5px;
    }
    .amount {
        text-align: right;
    }
    tr:nth-child(even) {
        background: $table-offColor;
    }
    tbody tr:hover {
        cursor: pointer;
        border: 1px solid black;
    }
    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 100%;
    }


}
#reimbursement-table thead {
    border-bottom: solid 1px black;
}

#reimbursement-table-title {
    padding: 5px;
    h3 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    border-bottom: 1px solid grey;
}

#reimbursement-table-head > * {
    font-weight: bold;
    text-align: center;
}

.reimbursement-table-item, #reimbursement-table tr {
    display: flex;
    flex-direction: row;

    
    .amount {
        flex-grow: 0;
        min-width: 7%;
    }

    .date {
        flex-grow: 0;
        width: 15%;
        border-right: 1px solid #BBB;
    }

    .status {
        flex-grow: 0;
        width: 15%;
        border-right: 1px solid #BBB;
    }

    .description {
        flex-grow: 5;
    }

}

.status.pending {
    color: gray;
    ::after {
        content: "Pending";
    }
}


.status.denied {
    color: darkred;
    
    ::after {
        content: "Denied";
    }
}


.status.approved {
    color: darkgreen;
    ::after {
        content: "Approved";
    }
}

.error-page {
    #wrapper {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
        background: #222;

        div {
            margin: 0 auto;
        }

        h1 {
            text-align: center;
            color: #DDD;
            display: flex;
            align-items: center;     /* Align the flex-items vertically */
            justify-content: center;
        }

        p {
            color: #DDD;
            display: flex;
            align-items: center;     /* Align the flex-items vertically */
            justify-content: center;
        }

    }
}

//https://projects.lukehaas.me/css-loaders/
.loader {
    color: #0000a0;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  #new-request {
      margin: 25px 10%;
      padding: 15px 15px;
      border: 1px solid lightgrey;
      transition: all 500ms linear;    
      overflow: hidden;

    #description-container {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        
        #create-description {
            height: 100%;
            flex-grow: 1;
        }
    }

    }

  #new-request.collapsed {
    height: 0;
    padding: 0;
  }

  .form-row > .form-group.col-md-12 {
    text-align: center;
}

#audit-table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    min-height: 0%;
    border-collapse: collapse;
    //border:1px solid #DDD;
    tr {
        //border-top: 1px solid #DDD;
        border-left: 1px solid #DDD;
        border-right: 1px solid #DDD;
    }
    td:not(:last-of-type) {
        border-right: 1px solid #DDD;
    }
    * {
        padding: 5px;
    }
    .amount {
        text-align: right;
        width: 15%;
    }
    .requester {
        width: 20%;
    }
    .date {
        width: 18%;
    }
    .type {
        width: 15%;
        text-align: center;
    }
    tr:nth-child(4n+4), tr:nth-child(4n+3) {
        background: $table-offColor;
        //border-bottom: 1px solid #DDD;
    }
    tr:nth-child(2n) {
        margin-bottom: 10px;
        border-bottom: 1px solid #DDD;
    }

    td {
        border-top: none !important;
    }

    tr {
        border-bottom: 1px solid #DDD;
        transition: opacity 500ms linear, margin 500ms ease-out;
    }
    tr:nth-child(2n+1) {
        border-top: 1px solid #DDD;
    }

    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 100%;
    }
    .audit-action {
        width: 25%;
    }
    button {
        width: 40%;
        margin: 2%;
        font-size: 80%;
    }
    tr.resolved {
        opacity: 0.25;
    }

    thead {
        text-align: center;
    }
}


#audit-table thead {
    border-bottom: solid 1px black;
}

#audit-table-title {
    padding: 5px;
    h3 {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    //border-bottom: 1px solid grey;
}

#audit-table-head > * {
    font-weight: bold;
    text-align: center;
}

.audit-table-item, #audit-table tr {
    display: flex;
    flex-direction: row;

    
    .amount {
        flex-grow: 0;
        min-width: 10%;
    }

    .date {
        flex-grow: 0;
        width: 15%;
        //border-right: 1px solid #BBB;
    }

    .description {
        flex-grow: 5;
    }

}
